body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background: white;
    color: black;
    margin: 0px;
    padding: 0px;
}

header{
    font-size: 1rem;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
}

.dice {
    font-size: 7rem;
    width: 80%;
    max-width: 150px;
    margin: 10px auto;
    padding: 10px;
    border: #000000 3px solid;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    background: #ffffff;
}

#roll-history {
    list-style: none;
}

button {
    font-size: 1rem;
    background: #000000;
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 2rem 2rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: limegreen;
    color: white;
}

/* FOOTER I CAN USE AS A STAPLE ON FUTURE PROJECTS */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer .heart {
    color: red;
}

.footer a:hover {
    color: magenta;
    text-decoration: underline;
}